.reports {
  display: flex;
  flex-wrap: wrap;
}

.reports .report-summary {
  flex: 1 0 22%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reports .panel-heading {
  min-width: 100%;
}

.reports .panel-body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.reports .panel-title .fa {
  margin-right: 5px;
}

.reports .report-description {
  min-height: 120px;
}

.reports .view-report-link {
  align-self: flex-start;
  justify-self: flex-end;
  margin-top: 15px;
}
